<%- include("../partials/header.ejs") %>
<section id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <h2>Faculty</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Faculty</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mu-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-gallery-area">
          <!-- start gallery content -->
          <div class="mu-gallery-content">
            <!-- End gallery menu -->
            <div class="mu-gallery-body">
              <ul id="mixit-container" class="row">
                <!-- start single gallery image -->
                <% if (facultyMembers.length > 0) { %> 
                  <% facultyMembers.forEach(member => { %>
                    <li class="col-md-4 col-sm-6 col-xs-12 lab">
                      <div class="mu-single-gallery">
                        <div class="mu-single-gallery-item">
                          <div class="mu-single-gallery-img">
                            <a href="#"
                              ><img alt="Faculty Member Image" src="<%= member.image %> "
                            /></a>
                          </div>
                          <div class="mu-single-gallery-info">
                            <div class="mu-single-gallery-info-inner">
                              <h4><%= member.name %></h4>
                              <p><%= member.degree %> </p>
                              <a href="<%= member.facebook %> "
                                ><span class="fa fa-facebook"></span
                              ></a>
                              <a href="<%= member.twitter %> "
                                ><span class="fa fa-twitter"></span
                              ></a>
                              <a href="<%= member.linkedin %> "
                                ><span class="fa fa-linkedin"></span
                              ></a>
                              <br />
                              <a
                                href="<%= member.email %> "
                                title="<%= member.email %>"
                                style="
                                  margin-top: 10px;
                                  background-color: #05b9fa!;
                                  width: fit-content;
                                  padding: 0px 10px;
                                "
                              >
                                <span
                                  class="fa fa-google-plus"
                                  style="margin-right: 5px"
                                ></span>
                                <%= member.email %> 
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  <% }) %> 
                <% } else { %>
                  <center>
                    <h1>There are no faculty members as of right now.</h1>
                  </center>
                <% } %> 
                </li>
              </ul>
            </div>
          </div>
          <!-- end gallery content -->
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("../partials/footer.ejs") %>
