<%- include("./partials/header.ejs", { active }) %>
<section id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <h2>Gallery</h2>
          <ol class="breadcrumb">
            <li><a href="#">Gallery</a></li>
            <li class="active">Gallery</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mu-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-gallery-area">
          <!-- start gallery content -->
          <div class="mu-gallery-content">
            <!-- End gallery menu -->
            <div class="mu-gallery-body">
              <ul id="mixit-container" class="row">
                <!-- start single gallery image -->
                <% if (galleryMoments.length > 0) { %> 
                  <% galleryMoments.forEach(moment => { %>
                    <li class="col-md-4 col-sm-6 col-xs-12 lab">
                      <div class="mu-single-gallery">
                        <div class="mu-single-gallery-item">
                          <div class="mu-single-gallery-img">
                            <a href="#"
                              ><img alt="Gallery Moment Image" src="<%= moment.image %> "
                            /></a>
                          </div>
                          <div class="mu-single-gallery-info">
                            <div class="mu-single-gallery-info-inner">
                              <h4><%= moment.title %></h4>
                              <p><%= moment.description %> </p>
                              <a
                                href="<%= moment.image %> "
                                data-fancybox-group="gallery"
                                class="fancybox"
                                ><span class="fa fa-eye"></span
                              ></a>
                              <a href="#" class="aa-link"
                                ><span class="fa fa-link"></span
                              ></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  <% }) %> 
                <% } else { %>
                  <center>
                    <h1>There are no moments as of now.</h1>
                  </center>
                <% } %> 
                </li>
              </ul>
            </div>
          </div>
          <!-- end gallery content -->
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("./partials/footer.ejs") %>
